* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0f0f0;
    display: grid;
    grid-template-columns: 280px 280px 280px 280px;
    grid-template-rows: 100vh 100vh 100vh 100vh;
    grid-template-areas: "LeftColumn RightColumn TopColumn BottomColumn" "LeftColumn RightColumn TopColumn BottomColumn"
}

#LeftColumn {
    width: 280px;
    height: 100vh;
    background-color: #003620;
}

#RightColumn {
    width: 280px;
    height: 100vh;
    background-color: #000000;
}

#TopColumn {
    width: 280px;
    height: 100hv;
    background-color: #0004ff;
}

#BottomColumn {
    width: 280px;
    height: 100vh;
    background-color: #ff0303;
}